# build artefacts
bin/
build/
results/
*.o
*.mod
*.out
*.exe
# python
__pycache__/
*.pyc
.ipynb_checkpoints/
# OS/editor noise
.DS_Store
Thumbs.db
*.swp

# log file
fort.666

# python interface build artefacts
python_interface/dudi.egg-info/
python_interface/dudi/libpy_dudi_bridge.so

# environment
.venv/
myenv/
